
<div class="navbar">
    <div class="logo">
      <h1>Mon</h1>
      <img src="../assets/img/velo.png" alt="">
      <h1>vélo</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a routerLink = "/Accueil"> Accueil</a></li>
        <li><a routerLink = "/Velo">Vélo</a></li>
        <li><a routerLink = "/Pieces">Pièces</a></li>
        <li><a routerLink = "/Vetements">vêtements</a></li>
        <li><a routerLink = "/Accessoires">Accessoires</a></li>
      </ul>
    </div>
    <button mat-raised-button routerLink  = "/Profile">
      <i class="fab fa-facebook-f"></i>
      <span>Connexion</span> 
    </button> 
  </div>