<div class="velo">
    <div class="filtre">
      <h4>Filtres</h4>
      <div class="categorie"> 
        <mat-form-field>
          <mat-label>Catégorie</mat-label>
          <mat-select>
            <mat-option>Vélo de ville     </mat-option>
            <mat-option>Vélo de route     </mat-option>
            <mat-option>Vélo tout terrain </mat-option>
            <mat-option>vélo électrique   </mat-option>
          </mat-select>   
        </mat-form-field> 
      </div>
      <div class="roue"> 
        <mat-form-field>
          <mat-label>Diamètre de roue</mat-label>
          <mat-select>
            <mat-option>29 pouces   </mat-option>
            <mat-option>27.5 pouces </mat-option>
            <mat-option>26 pouces   </mat-option>
            <mat-option>24 pouces   </mat-option>
          </mat-select>   
        </mat-form-field> 
      </div> 
      <div class="cadre"> 
        <mat-form-field>
          <mat-label>Cadre</mat-label>
          <mat-select>
            <mat-option> aluminium</mat-option>
            <mat-option> carbone</mat-option>
          </mat-select>   
        </mat-form-field> 
      </div>
      <div class="taille"> 
        <mat-form-field>
          <mat-label>Taille</mat-label>
          <mat-select>
            <mat-option>entre 48 - 50</mat-option>
            <mat-option>entre 50 - 52</mat-option>
            <mat-option>entre 52 - 54</mat-option>
            <mat-option>entre 54 - 56</mat-option>
            <mat-option>entre 56 - 58</mat-option>
            <mat-option>entre 58 - 60</mat-option>
          </mat-select>   
        </mat-form-field> 
      </div>
    </div>
    <div class="showroom">
      <div class="listgrid">
        <i class="fas fa-bars fa-2x"></i>
        <i class="fas fa-th fa-2x"></i>
        <button mat-raised-button>Ajouter un vélo <span>+</span></button>
      </div>
      <div class="velos">
        <div class="article">
        </div>
        <div class="article">
        </div>
        <div class="article">
        </div>
      </div>
      <div class="velos">
        <div class="article">
        </div>
        <div class="article">
        </div>
        <div class="article">
        </div>
      </div>
      <div class="velos">
        <div class="article">

        </div>
        <div class="article">

        </div>
        <div class="article">

        </div> 
      </div>
      <div class="pages">
        <i class=" less fas fa-less-than fa-1x"></i>
        <p>1</p> 
        <p>2</p> 
        <p>3</p> 
        <i class="more fas fa-greater-than fa-1x"></i>
      </div>
    </div>
  </div>
