<div class="velo">
  <div class="filtre">
    <h4>Filtres</h4>
    <div class="check">
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!jhljk</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check mjhjhe!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check ljkhljkme!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Checkjkhljk me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
      <mat-checkbox class="checkbox">Check me!</mat-checkbox><br>
    </div>
  </div>
  <div class="showroom">
    <div class="listgrid">
      <i class="fas fa-bars fa-2x"></i>
      <i class="fas fa-th fa-2x"></i>
      <button mat-raised-button>Ajouter une pièce <span>+</span></button>
    </div>
    <div class="velos">
      <div class="article">
      </div>
      <div class="article">
      </div>
      <div class="article">
      </div>
    </div>
    <div class="velos">
      <div class="article">
      </div>
      <div class="article">
      </div>
      <div class="article">
      </div>
    </div>
    <div class="velos">
      <div class="article">

      </div>
      <div class="article">

      </div>
      <div class="article">

      </div> 
    </div>
    <div class="pages">
      <i class=" less fas fa-less-than fa-1x"></i>
      <p>1</p> 
      <p>2</p> 
      <p>3</p> 
      <i class="more fas fa-greater-than fa-1x"></i>
    </div>
  </div>
</div>
