<div class="slider">
    <div class="container">
      <div class="layout">
        <div class="sliderimg">
          <i class=" less fas fa-less-than fa-3x"></i>
          <div>
            <img class="img1" src="../assets/img/velo1.jpeg" alt="">
          </div>
          <div>
            <img  class="img2" src="../assets/img/velo2.jpg" alt="">
          </div>
          <div>
            <img class="img3" src="../assets/img/velo3.jpg" alt="">
          </div>
          <div>
            <img class="img4" src="../assets/img/velo4.jpg" alt="">
          </div>
          <div>
            <img class="img5" src="../assets/img/velo5.jpg" alt="">
          </div>
          <i class="more fas fa-greater-than fa-3x"></i>
        </div>
        
        <div class="recherche">
          <div>
            <input type="text" placeholder=" Je cherche...">
            <select name="" id="">
              <option value=""> &nbsp; velo de ville </option>
              <option value=""> &nbsp; velo de route </option>
              <option value=""> &nbsp; velo tout terrain</option>
            </select> 
            <input type="text" placeholder=" Gouvernorat">
            <button>recherche</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info">
    <div>
      <i class="fas fa-users fa-5x"></i>
      <h3>Nombre des visiteurs</h3>
      <p>1400</p>
    </div>
    <div>
      <i class="fas fa-biking fa-5x"></i>
      <h3>Articles disponibles</h3>
      <p>700</p>
    </div>
    <div>
      <i class="fas fa-check-circle fa-5x"></i>
      <h3>Articles vendus</h3>
      <p>5800</p>
    </div>
  </div>
  <div class="recent">
    <h2>Les articles les plus récents</h2>
    <div class="block">
      <div class="articlerecent">
      
      </div>
      <div class="articlerecent">
        
      </div>
      <div class="articlerecent">
        
      </div>
      <div class="articlerecent">
        
      </div>  
    </div>
    <div class="block">
      <div class="articlerecent">
      
      </div>
      <div class="articlerecent">
        
      </div>
      <div class="articlerecent">
        
      </div>
      <div class="articlerecent">
        
      </div>  
    </div>
  </div>
